---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - download.beebs.dev
  resources:
  - downloads
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - download.beebs.dev
  resources:
  - downloads/finalizers
  verbs:
  - update
- apiGroups:
  - download.beebs.dev
  resources:
  - downloads/status
  verbs:
  - get
  - patch
  - update
